body{
    background-color: #d0d0d0e0;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #120759;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 0px 0px 10px black;
    width: 100%;
    font-size: 13px;
    height: 50px;
    line-height: 1.7;
}
*{margin: 0 auto;padding: 0 ;}
main{
    padding: 20px;
}
#area_conversor{
    background-color: white;
    min-width: 500px;
    width: auto;
    padding: 20px;
    min-height: 250px;
    height: auto;
    text-align: center;
    box-shadow: 0px 4px 6px dimgrey;
    border-radius: 5px;
}
#valor{
    width: 60%;
    height: 30px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 0px 10px;
    
}
#Converter, input[type="reset"],#convertFor{
    width: 15%;
    height: 30px;
    border: none;
    background-color: #0072ff;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 2px 2px #807c7c;
}
#convertFor{width: 15%;}
input[type="reset"]{background-color: #F87277;}
#area_conversor span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#area_conversor h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    overflow-wrap: break-word;

}
#resultado{
    display: flex;
    flex-direction: column;
}
#resultado h1:first-child{
    font-size: 70px;
}
#resultado h1:last-child{
    font-size: 120px;
}